In [2]:
import pandas as pd

df = pd.read_csv(r'../Datasets/summary_375.csv')
df.shape
df

,Unnamed: 0,PATIENT_ID,RE_DATE,age,gender,Admission time,Discharge time,outcome,hemoglobin,Serum chloride,...,monocytes count,globulin,Î³-glutamyl transpeptidase,basophil count(#),mean corpuscular hemoglobin,Hypersensitive c-reactive protein,serum sodium,glutamic-pyruvic transaminase,eGFR,creatinine
0,1,1,2020-02-08 20:28:15,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,133.200,100.220,...,0.614,32.380,33.000,0.016,32.120,16.433,140.540,29.200,66.700,99.000
1,2,2,2020-02-10 19:30:20,61,1,2020-02-04 21:39:03,2020-02-19 12:59:01,0,145.750,99.275,...,0.495,35.650,46.000,0.018,32.000,27.400,138.225,29.000,90.400,79.250
2,3,3,2020-01-28 10:14:06,70,2,2020-01-23 10:59:36,2020-02-08 17:52:31,0,115.667,101.400,...,0.343,30.467,42.667,0.007,31.833,22.950,139.767,56.667,83.933,63.667
3,4,4,2020-02-06 03:11:25,74,1,2020-01-31 23:03:59,2020-02-18 12:59:12,0,98.000,101.950,...,0.515,31.650,14.500,0.013,41.725,61.350,141.050,23.000,78.100,84.500
4,5,5,2020-02-07 16:26:37,29,2,2020-02-01 20:59:54,2020-02-18 10:33:06,0,128.000,100.950,...,0.440,30.450,20.000,0.023,29.867,3.900,141.900,15.000,121.400,56.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,343,371,2020-02-04 22:08:40,63,1,2020-02-04 11:51:01,2020-02-05 19:58:05,1,143.000,95.700,...,0.280,33.300,27.000,0.000,30.400,152.000,135.800,31.000,88.600,81.000
343,344,372,2020-02-10 04:04:32,79,1,2020-02-05 17:52:06,2020-02-16 10:45:40,1,118.700,119.609,...,0.698,31.589,215.444,0.038,30.010,232.188,153.636,82.444,16.818,297.364
344,345,373,2020-02-12 12:03:20,61,2,2020-02-12 03:07:48,2020-02-14 18:47:23,1,100.000,102.600,...,0.550,36.900,39.000,0.010,27.600,205.800,141.600,9.000,101.300,47.000
345,346,374,2020-02-05 04:46:09,33,1,2020-02-03 22:16:30,2020-02-08 10:47:24,1,119.000,124.033,...,0.325,29.333,175.667,0.035,30.150,109.800,160.400,1061.000,80.933,109.333
346,347,375,2020-02-12 09:56:07,68,1,2020-02-08 23:25:01,2020-02-19 01:31:58,1,163.000,99.725,...,0.205,30.433,36.000,0.025,31.550,162.750,135.600,17.667,76.500,91.000

In [3]:
#counting the NA values for each column 
count_nan = len(df) - df.count()
count_nan

Unnamed: 0                                   0
PATIENT_ID                                   0
RE_DATE                                      0
age                                          0
gender                                       0
Admission time                               0
Discharge time                               0
outcome                                      0
hemoglobin                                   0
Serum chloride                               0
eosinophils(%)                               0
Alkaline phosphatase                         0
albumin                                      0
basophil(%)                                  0
Total bilirubin                              0
Platelet count                               0
monocytes(%)                                 0
indirect bilirubin                           0
neutrophils(%)                               0
total protein                                0
mean corpuscular volume                      0
hematocrit                                   0
White blood cell count                       0
mean corpuscular hemoglobin concentration    0
Urea                                         0
lymphocyte count                             0
Red blood cell count                         0
Eosinophil count                             0
Corrected calcium                            0
Serum potassium                              0
neutrophils count                            0
Direct bilirubin                             0
(%)lymphocyte                                0
Total cholesterol                            0
aspartate aminotransferase                   0
Uric acid                                    0
HCO3-                                        0
calcium                                      0
Lactate dehydrogenase                        0
monocytes count                              0
globulin                                     0
Î³-glutamyl transpeptidase                    0
basophil count(#)                            0
mean corpuscular hemoglobin                  0
Hypersensitive c-reactive protein            0
serum sodium                                 0
glutamic-pyruvic transaminase                0
eGFR                                         0
creatinine                                   0
dtype: int64

In [4]:
#drop collumns that have more NA's than our thereshold
df2 = df.dropna(thresh= len(df) - len(df)*0.06, axis=1 )
df2.shape
df2.head()

,Unnamed: 0,PATIENT_ID,RE_DATE,age,gender,Admission time,Discharge time,outcome,hemoglobin,Serum chloride,...,monocytes count,globulin,Î³-glutamyl transpeptidase,basophil count(#),mean corpuscular hemoglobin,Hypersensitive c-reactive protein,serum sodium,glutamic-pyruvic transaminase,eGFR,creatinine
0,1,1,2020-02-08 20:28:15,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,133.200,100.220,...,0.614,32.380,33.000,0.016,32.120,16.433,140.540,29.200,66.700,99.000
1,2,2,2020-02-10 19:30:20,61,1,2020-02-04 21:39:03,2020-02-19 12:59:01,0,145.750,99.275,...,0.495,35.650,46.000,0.018,32.000,27.400,138.225,29.000,90.400,79.250
2,3,3,2020-01-28 10:14:06,70,2,2020-01-23 10:59:36,2020-02-08 17:52:31,0,115.667,101.400,...,0.343,30.467,42.667,0.007,31.833,22.950,139.767,56.667,83.933,63.667
3,4,4,2020-02-06 03:11:25,74,1,2020-01-31 23:03:59,2020-02-18 12:59:12,0,98.000,101.950,...,0.515,31.650,14.500,0.013,41.725,61.350,141.050,23.000,78.100,84.500
4,5,5,2020-02-07 16:26:37,29,2,2020-02-01 20:59:54,2020-02-18 10:33:06,0,128.000,100.950,...,0.440,30.450,20.000,0.023,29.867,3.900,141.900,15.000,121.400,56.000

In [5]:
#for col in df3.columns: print(col)

In [6]:
#col_means = df3.mean()
#col_means
#filling na values with the column mean 
df3 = df2.fillna(df2.mean())
df3

,Unnamed: 0,PATIENT_ID,RE_DATE,age,gender,Admission time,Discharge time,outcome,hemoglobin,Serum chloride,...,monocytes count,globulin,Î³-glutamyl transpeptidase,basophil count(#),mean corpuscular hemoglobin,Hypersensitive c-reactive protein,serum sodium,glutamic-pyruvic transaminase,eGFR,creatinine
0,1,1,2020-02-08 20:28:15,73,1,2020-01-30 22:12:47,2020-02-17 12:40:09,0,133.200,100.220,...,0.614,32.380,33.000,0.016,32.120,16.433,140.540,29.200,66.700,99.000
1,2,2,2020-02-10 19:30:20,61,1,2020-02-04 21:39:03,2020-02-19 12:59:01,0,145.750,99.275,...,0.495,35.650,46.000,0.018,32.000,27.400,138.225,29.000,90.400,79.250
2,3,3,2020-01-28 10:14:06,70,2,2020-01-23 10:59:36,2020-02-08 17:52:31,0,115.667,101.400,...,0.343,30.467,42.667,0.007,31.833,22.950,139.767,56.667,83.933,63.667
3,4,4,2020-02-06 03:11:25,74,1,2020-01-31 23:03:59,2020-02-18 12:59:12,0,98.000,101.950,...,0.515,31.650,14.500,0.013,41.725,61.350,141.050,23.000,78.100,84.500
4,5,5,2020-02-07 16:26:37,29,2,2020-02-01 20:59:54,2020-02-18 10:33:06,0,128.000,100.950,...,0.440,30.450,20.000,0.023,29.867,3.900,141.900,15.000,121.400,56.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,343,371,2020-02-04 22:08:40,63,1,2020-02-04 11:51:01,2020-02-05 19:58:05,1,143.000,95.700,...,0.280,33.300,27.000,0.000,30.400,152.000,135.800,31.000,88.600,81.000
343,344,372,2020-02-10 04:04:32,79,1,2020-02-05 17:52:06,2020-02-16 10:45:40,1,118.700,119.609,...,0.698,31.589,215.444,0.038,30.010,232.188,153.636,82.444,16.818,297.364
344,345,373,2020-02-12 12:03:20,61,2,2020-02-12 03:07:48,2020-02-14 18:47:23,1,100.000,102.600,...,0.550,36.900,39.000,0.010,27.600,205.800,141.600,9.000,101.300,47.000
345,346,374,2020-02-05 04:46:09,33,1,2020-02-03 22:16:30,2020-02-08 10:47:24,1,119.000,124.033,...,0.325,29.333,175.667,0.035,30.150,109.800,160.400,1061.000,80.933,109.333
346,347,375,2020-02-12 09:56:07,68,1,2020-02-08 23:25:01,2020-02-19 01:31:58,1,163.000,99.725,...,0.205,30.433,36.000,0.025,31.550,162.750,135.600,17.667,76.500,91.000

In [7]:
#for col in df3.columns: 
#    if col == 'Lactate dehydrogenase' : 
#        print (col)

In [8]:
#dropping unusefull atributes 
df_final  = df3.drop(["Unnamed: 0",'RE_DATE', 'Admission time','Discharge time'], axis=1)
df_final

,PATIENT_ID,age,gender,outcome,hemoglobin,Serum chloride,eosinophils(%),Alkaline phosphatase,albumin,basophil(%),...,monocytes count,globulin,Î³-glutamyl transpeptidase,basophil count(#),mean corpuscular hemoglobin,Hypersensitive c-reactive protein,serum sodium,glutamic-pyruvic transaminase,eGFR,creatinine
0,1,73,1,0,133.200,100.220,0.780,57.800,34.480,0.200,...,0.614,32.380,33.000,0.016,32.120,16.433,140.540,29.200,66.700,99.000
1,2,61,1,0,145.750,99.275,0.050,41.500,35.950,0.175,...,0.495,35.650,46.000,0.018,32.000,27.400,138.225,29.000,90.400,79.250
2,3,70,2,0,115.667,101.400,0.100,59.000,35.767,0.100,...,0.343,30.467,42.667,0.007,31.833,22.950,139.767,56.667,83.933,63.667
3,4,74,1,0,98.000,101.950,2.100,72.500,34.000,0.200,...,0.515,31.650,14.500,0.013,41.725,61.350,141.050,23.000,78.100,84.500
4,5,29,2,0,128.000,100.950,2.167,81.000,39.850,0.333,...,0.440,30.450,20.000,0.023,29.867,3.900,141.900,15.000,121.400,56.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,371,63,1,1,143.000,95.700,0.000,65.000,30.700,0.000,...,0.280,33.300,27.000,0.000,30.400,152.000,135.800,31.000,88.600,81.000
343,372,79,1,1,118.700,119.609,0.240,132.889,21.122,0.230,...,0.698,31.589,215.444,0.038,30.010,232.188,153.636,82.444,16.818,297.364
344,373,61,2,1,100.000,102.600,0.100,141.000,23.900,0.100,...,0.550,36.900,39.000,0.010,27.600,205.800,141.600,9.000,101.300,47.000
345,374,33,1,1,119.000,124.033,0.000,137.000,27.267,0.250,...,0.325,29.333,175.667,0.035,30.150,109.800,160.400,1061.000,80.933,109.333
346,375,68,1,1,163.000,99.725,0.000,82.000,26.933,0.300,...,0.205,30.433,36.000,0.025,31.550,162.750,135.600,17.667,76.500,91.000

In [9]:
df_final

,PATIENT_ID,age,gender,outcome,hemoglobin,Serum chloride,eosinophils(%),Alkaline phosphatase,albumin,basophil(%),...,monocytes count,globulin,Î³-glutamyl transpeptidase,basophil count(#),mean corpuscular hemoglobin,Hypersensitive c-reactive protein,serum sodium,glutamic-pyruvic transaminase,eGFR,creatinine
0,1,73,1,0,133.200,100.220,0.780,57.800,34.480,0.200,...,0.614,32.380,33.000,0.016,32.120,16.433,140.540,29.200,66.700,99.000
1,2,61,1,0,145.750,99.275,0.050,41.500,35.950,0.175,...,0.495,35.650,46.000,0.018,32.000,27.400,138.225,29.000,90.400,79.250
2,3,70,2,0,115.667,101.400,0.100,59.000,35.767,0.100,...,0.343,30.467,42.667,0.007,31.833,22.950,139.767,56.667,83.933,63.667
3,4,74,1,0,98.000,101.950,2.100,72.500,34.000,0.200,...,0.515,31.650,14.500,0.013,41.725,61.350,141.050,23.000,78.100,84.500
4,5,29,2,0,128.000,100.950,2.167,81.000,39.850,0.333,...,0.440,30.450,20.000,0.023,29.867,3.900,141.900,15.000,121.400,56.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,371,63,1,1,143.000,95.700,0.000,65.000,30.700,0.000,...,0.280,33.300,27.000,0.000,30.400,152.000,135.800,31.000,88.600,81.000
343,372,79,1,1,118.700,119.609,0.240,132.889,21.122,0.230,...,0.698,31.589,215.444,0.038,30.010,232.188,153.636,82.444,16.818,297.364
344,373,61,2,1,100.000,102.600,0.100,141.000,23.900,0.100,...,0.550,36.900,39.000,0.010,27.600,205.800,141.600,9.000,101.300,47.000
345,374,33,1,1,119.000,124.033,0.000,137.000,27.267,0.250,...,0.325,29.333,175.667,0.035,30.150,109.800,160.400,1061.000,80.933,109.333
346,375,68,1,1,163.000,99.725,0.000,82.000,26.933,0.300,...,0.205,30.433,36.000,0.025,31.550,162.750,135.600,17.667,76.500,91.000

In [10]:
#df4 = df3.dropna(axis=1, how='any')
#df4
#constucting X and y 
X = df_final.drop(["PATIENT_ID",'outcome'], axis=1)
y= df_final['outcome']
X.shape

(347, 43)

### Logistic Regression

In [11]:
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn.linear_model import LogisticRegression

#splitting the dataset to train and test sets 
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size=0.3, random_state=0)

logreg = LogisticRegression(solver='lbfgs', max_iter=10000, random_state=0)
logreg = logreg.fit(X_train, y_train)

#making a prediction
y_pred= logreg.predict(X_test)

#print (clf.predict_proba(y_test))

#clf.score(X_train, y_train)
#?#how to do regression in non numerical values

#print('Test accuracy of the model:' , logreg.score(X_test, y_pred), "\n")

print('Classification report:',"\n", classification_report(y_test, y_pred))

Classification report:
               precision    recall  f1-score   support

           0       0.89      0.98      0.93        58
           1       0.98      0.85      0.91        47

    accuracy                           0.92       105
   macro avg       0.93      0.92      0.92       105
weighted avg       0.93      0.92      0.92       105

In [12]:
#implementing 5-fold cross validation
from sklearn.model_selection import cross_val_score

scores = cross_val_score(logreg, X, y, cv=5, scoring= 'accuracy')
print('Cross Validation accuracy scores:', scores)
print('Mean of Cross Validation scores:', scores.mean())

Cross Validation accuracy scores: [0.95714286 0.91428571 0.95652174 0.89855072 0.91304348]
Mean of Cross Validation scores: 0.9279089026915115

In [13]:
#modify thresshold based on the optimal fundings of the ROC curve  

THRESHOLD = 0.5
preds = np.where(clf.predict_proba(X_test)[:,1] > THRESHOLD, 1, 0)

print('Classification report:',"\n", classification_report(y_test, preds))

NameError: name 'np' is not defined

In [ ]:
'''
#modify thresshold based on the optimal fundings of the ROC curve  
proba = logreg.predict_proba(X_test)[:,1]
#print (proba.size)

y_pred_thres2= [None for _ in range(proba.size)]

for i in range(75):
    if proba[i] >= 0.452030 : 
        y_pred_thres2[i]=1
        #y_pred2[i].append(y_pred2)
    else:
        y_pred_thres2[i]=0
        #y_pred2.append(y_pred2)

y_pred_thres2

print(classification_report(y_test, y_pred_thres2))
'''

### Finding the optimal threshold via ROC curve

In [ ]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

proba = logreg.predict_proba(X_test)

fpr, tpr, thresholds = roc_curve(y_test, proba)
thresholds

In [ ]:
import numpy as np

from sklearn.metrics import accuracy_score
accuracy_ls = []
for thres in thresholds:
    y_pred = np.where(proba>thres,1,0)
    accuracy_ls.append(accuracy_score(y_test, y_pred, normalize=True))
    
accuracy_ls = pd.concat([pd.Series(thresholds), pd.Series(accuracy_ls)],
                        axis=1)
accuracy_ls.columns = ['thresholds', 'accuracy']
accuracy_ls.sort_values(by='accuracy', ascending=False, inplace=True)
accuracy_ls.head()

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

figure(num=1, figsize=(3, 4), dpi=300, facecolor='w', edgecolor='k')

def plot_roc_curve(fpr, tpr):
    plt.plot(fpr, tpr, color='orange', label='ROC')
    plt.plot([0, 1], [0, 1], color='darkblue', linestyle='--')
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver Operating Characteristic (ROC) Curve')
    plt.legend()
    plt.show()
    
figure = plot_roc_curve(fpr, tpr)

In [ ]:
#logreg.predict_proba(X_test)

In [ ]:
print(classification_report(y_test, y_pred_thres2))

### Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import matplotlib.pyplot as plt

clf = DecisionTreeClassifier(max_depth=4,random_state=0) #max_depth=7,

clf = clf.fit(X_train ,y_train)

#print ('train accuracy:', clf.score(X_train, y_train))
print ('Test accuracy:', clf.score(X_test, y_test))

y_pred_tree = clf.predict(X_test)

print('Classification report:',"\n", classification_report(y_test, y_pred_tree))

tree.plot_tree(clf, filled = True, fontsize = 7) 
plt.show()

In [ ]:
#x [32, 3,38 , 34, 18, 39]

In [ ]:
#implementing 5-fold cross validation for the decission tree
scores = cross_val_score(clf, X, y, cv=5, scoring= 'accuracy')
print('Cross Validation accuracy scores:', scores)
print('Mean of Cross Validation scores:', scores.mean())

### AdaBoost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

adaboost = AdaBoostClassifier(random_state=0)
adaboost.fit(X_train, y_train)

adaboost.predict(X_test)

print ('Test accuracy:', adaboost.score(X_test, y_test),"\n")

y_pred_adaboost = adaboost.predict(X_test)

print('Classification report:',"\n", classification_report(y_test, y_pred_adaboost))

In [ ]:
scores = cross_val_score(adaboost, X, y, cv=5, scoring= 'accuracy')
print('Cross Validation accuracy scores:', scores)
print('Mean of Cross Validation scores:', scores.mean())

### SVM

In [ ]:
import numpy as np
#from sklearn.pipeline import make_pipeline
from sklearn import svm
from sklearn.metrics import accuracy_score

from sklearn.svm import SVC

#svm_model = make_pipeline(StandardScaler(), SVC(gamma='auto'))
svm_model =svm.SVC(kernel='rbf',  C=100)

svm_model.fit(X_train, y_train)

y_pred_SVM = svm_model.predict(X_test)

print ('Test accuracy:', svm_model.score(X_test, y_test))
print('Classification report:',"\n", classification_report(y_test, y_pred_SVM))

In [ ]:
scores = cross_val_score(svm_model, X, y, cv=5, scoring= 'accuracy')
print('Cross Validation accuracy scores:', scores)
print('Mean of Cross Validation scores:', scores.mean())

================================================================= NN

In [ ]:
#pip install keras

In [ ]:
#pip install tensorflow

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

classifier = Sequential() # Initialising the ANN

classifier.add(Dense(units = 20, activation = 'relu', input_dim = 43))
classifier.add(Dense(units = 10, activation = 'relu'))
classifier.add(Dense(units = 7, activation = 'relu'))
classifier.add(Dense(units = 1, activation = 'sigmoid'))

In [ ]:
classifier.compile(optimizer = 'rmsprop', loss = 'binary_crossentropy')

In [ ]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 1000)

In [1]:
y_pred_NN = classifier.predict(X_test)
y_pred_NN = [ 1 if y>=0.8 else 0 for y in y_pred_NN ]

NameError: name 'classifier' is not defined

In [134]:
print(classification_report(y_test, y_pred_NN))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95        58
           1       0.98      0.89      0.93        47

    accuracy                           0.94       105
   macro avg       0.95      0.94      0.94       105
weighted avg       0.95      0.94      0.94       105

In [124]:
#y_pred_NN
print (y_test.shape)

(105,)

In [101]:
'''
total = 0
correct = 0
wrong = 0
for i,j in y_pred_NN,y_test:
  total=total+1
  if(i== j):
    correct=correct+1
  else:
    wrong=wrong+1

print("Total " + str(total))
print("Correct " + str(correct))
print("Wrong " + str(wrong))'''

ValueError: too many values to unpack (expected 2)

## Naive Bayes

In [181]:
### Bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

y_pred_bayes = gnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
      % (X_test.shape[0], (y_test != y_pred_bayes).sum()))

Number of mislabeled points out of a total 105 points : 5

In [109]:
print(classification_report(y_test, y_pred_bayes))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96        58
           1       0.96      0.94      0.95        47

    accuracy                           0.95       105
   macro avg       0.95      0.95      0.95       105
weighted avg       0.95      0.95      0.95       105

In [182]:
scores = cross_val_score(gnb, X, y, cv=5, scoring= 'accuracy')
print('Cross Validation accuracy scores:', scores)
print('Mean of Cross Validation scores:', scores.mean())

Cross Validation accuracy scores: [0.92857143 0.94285714 0.95652174 0.95652174 0.92753623]
Mean of Cross Validation scores: 0.9424016563146997

In [ ]:
import tensorflow.keras as keras
import tensorflow as tf
x_trainNN = tf.keras.utils.normalize(x_train, axis=1)
x_testNN = tf.keras.utils.normalize(x_test, axis=1)

## PCA TEST

In [135]:
#how many components to get X of the explained variane
from sklearn.decomposition import PCA

pca=PCA(0.9)
pca_dim_reducts = pca.fit_transform(X)
pca_regenerations = pca.inverse_transform(pca_dim_reducts)
print(pca.explained_variance_.shape[0])

5

In [ ]:
######## PCA tests

In [ ]:
# This code is given
from numpy import array
from sklearn.decomposition import PCA

# define a matrix
#A = array([[1, 2], [3, 4], [5, 6]])
#print(A)

# create the PCA instance
pca = PCA(n_components=3)

# fit on data
pca.fit(X)
'''
# access values and vectors
print(pca.components_)
print(pca.explained_variance_)

# transform data
B = pca.transform(X)
print(B)
'''
print(pca.explained_variance_)

In [ ]:
pca = PCA(2)  # project from 64 to 2 dimensions
projected = pca.fit_transform(X)
print(X.shape)
print(projected.shape)

plt.scatter(projected[:, 0], projected[:, 1],
            c=y, edgecolor='none', alpha=0.5,)
plt.xlabel('component 1')
plt.ylabel('component 2')
plt.colorbar();

In [ ]:
pca = PCA().fit(X)
plt.plot(np.cumsum(pca.explained_variance_ratio_))
plt.xlabel('number of components')
plt.ylabel('cumulative explained variance');

In [ ]:
pca.n_components = 3
X_reduced = pca.fit_transform(X)
pca.get_params()

In [ ]:
data_scaled = pd.DataFrame(preprocessing.scale(X),columns = df.columns) 
data_scaled

In [ ]:
import pandas as pd
import pylab as pl
from sklearn import datasets
from sklearn.decomposition import PCA

# load dataset

# normalize data
from sklearn import preprocessing
data_scaled = pd.DataFrame(preprocessing.scale(X),columns = X.columns) 

# PCA
pca = PCA(n_components=3)
pca.fit_transform(X.T)

# Dump components relations with features:
df_pca = pd.DataFrame(pca.components_,columns=data_scaled.columns,index = ['PC-1','PC-2','PC-3'])
df_pca.head()

In [ ]:
#plt.scatter(X['Lactate_dehydrogenase'],y)
#plt.show()
pca_regenerations.shape

In [ ]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
pca.fit(X.T)

pca.components_

=================================================================

In [ ]:
from sklearn.neural_network import MLPClassifier
X = [[0., 0.], [1., 1.]]
y = [0, 1]
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                    hidden_layer_sizes=(5, 2), random_state=1)

clf.fit(X, y)

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

regr = MLPRegressor(random_state=1, max_iter=1000).fit(X_train, y_train)
#regr.predict(X_test[:2])

print(regr.score(X_test, y_test))

=================================================================

================================================================= Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
ytrain_pred = rf_model.predict_proba(X_train)
print('RF train roc-auc: {}'.format(roc_auc_score(y_train, ytrain_pred[:,1])))
ytest_pred = rf_model.predict_proba(X_test)
print('RF test roc-auc: {}'.format(roc_auc_score(y_test, ytest_pred[:,1])))

In [ ]:
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
ytrain_pred = rf_model.predict_proba(X_train)

#print (clf.predict_proba(y_test))

#clf.score(X_train, y_train)
#?#how to do regression in non numerical values
print(classification_report(y_test, ytrain_pred))

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

scores = cross_val_score(rf_model, X, y, cv=5, scoring= 'accuracy')
print('Cross Validation accuracy scores:', scores)
print('Mean of Cross Validation scores:', scores.mean())

=================================================================

In [ ]:
conda create -n newenvt anaconda python=3.5
activate newenvt

=================================================================

=================================================================

=================================================================

=================================================================

In [ ]:
from sklearn.linear_model import LogisticRegression
log_classifier=LogisticRegression()
log_classifier.fit(X_train, y_train)
ytrain_pred = log_classifier.predict_proba(X_train)
print('Logistic train roc-auc: {}'.format(roc_auc_score(y_train, ytrain_pred[:,1])))
ytest_pred = log_classifier.predict_proba(X_test)
print('Logistic test roc-auc: {}'.format(roc_auc_score(y_test, ytest_pred[:,1])))

=================================================================

In [ ]:
#X = pd.concat([pari , births['age_cat'] ,etni, births['urban']] ,axis = 'columns')

In [ ]:
'''from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

ohe =  OneHotEncoder(sparse = False)
#ohe =  OneHotEncoder() 

column_trans= make_column_transformer((OneHotEncoder(), ['parity', 'age_cat', 'etnicity', 'urban']), remainder = 'passthrough')
X = column_trans.fit_transform(X)
X
'''

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

scores = cross_val_score(logreg, X, home, cv=5, scoring= 'accuracy')
print('mean of Cross Validation scores:', scores.mean())

In [ ]:
from sklearn import tree

clf = tree.DecisionTreeClassifier(max_depth=3, random_state=0)

clf = clf.fit(X_train ,y_train)

tree.plot_tree(clf, filled = True, fontsize = 7) 

#plt.show()

print ('train accuracy:', clf.score(X_test, y_test))
print ('test accuracy:', clf.score(X_train, y_train))

#fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (4,4), dpi=300)
#clf.savefig('Users\gougo\Documents\Twente\1B\Data science\DM\imagename.png')

In [ ]:
models = [
    ('Logistic Regression accuracy:',LogisticRegression(random_state=0)),
    ('Decision Tree accuracy:', tree.DecisionTreeClassifier(max_depth=3, random_state=0)),
]

# we have already used sklearn.model_selection to train/test split our dataset so we dont need to do it again

for name, model in models:
        clf = model
        clf.fit(X_train, y_train)
        accuracy = clf.score(X_test, y_test)
        print(name, accuracy)

In [ ]:
#we have awlready inported and used cross_val_score so we dont need to do it again 
scoresLR = cross_val_score(logreg, X, home, cv=5, scoring= 'accuracy')
print('mean of Cross Validation scores:', scoresLR.mean()) 

scoresDT = cross_val_score(clf, X, home, cv=5, scoring= 'accuracy')
print('mean of Decision Tree scores:', scoresDT.mean())